/*header*/

#header {
  background: #B3CDE0;
  padding: 40px 0;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        a {}
        &.active-menu a, a:hover {
          color: #fff;
        }
      }
    }
  }
}
